################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sampleapp/FileContentIndex/a75d4e1a-9849-4413-be53-e4dc6267ef74.vsidx
/.vs/sampleapp/FileContentIndex/a97397eb-de63-4361-ba95-f8999a907138.vsidx
/.vs/sampleapp/FileContentIndex/e43f9c0b-9fbe-41b6-bf26-d67fbb048ddd.vsidx
/.vs/sampleapp/FileContentIndex/10a5f7a1-e1a7-49a5-912d-f0d1a59c35fd.vsidx
/.vs/sampleapp/FileContentIndex/a1bd1189-7df1-4eec-aef4-00cc1d0b7051.vsidx
/.vs/sampleapp/FileContentIndex/6e26e4ca-d9b1-454b-a1fd-0a77ea99609e.vsidx
